@model IndexModel
@{
    Layout = "_Layout";
    ViewBag.Title = $"Index of {Model.Path}";
}

<h1>@ViewBag.Title</h1>

<table>
    @foreach (var item in Model.Entries)
    {
        <tr>
            <td>@item.Mode</td>
            <td align="right">@item.FormattedSize</td>
            <td>@item.DateModified?.ToLocalTime().ToString("yyyy-MM-dd HH:mm")</td>
            <td><a asp-route="Index" asp-route-path="@item.Path">@item.Name</a></td>
        </tr>
    }
</table>

<hr />

<i>@Model.Count item@(Model.Count == 1 ? "" : "s").</i>
